<a href="https://colab.research.google.com/github/syamkrishnanharidas/DATA_ANALYTICS_PYTHON_ASSIGNMENT/blob/main/PYTHON_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 1.  Grocery Store Bill Calculator
no_items=int(input("Enter the number of items : "))
grocery_bill={}
while no_items>0:
  keys=input("Enter the grocery item name : ")
  values=int(input("Enter the grocery item price : "))
  grocery_bill[keys]=values
  no_items=no_items-1
total=0
for items,price in grocery_bill.items():
  print(f"The price of {items} is {price}")
  total=total+price
print(f"The total bill is {total}")

Enter the number of items : 4
Enter the grocery item name : apple
Enter the grocery item price : 10
Enter the grocery item name : milk
Enter the grocery item price : 50
Enter the grocery item name : orange
Enter the grocery item price : 60
Enter the grocery item name : carrot
Enter the grocery item price : 30
{'apple': 10, 'milk': 50, 'orange': 60, 'carrot': 30}
The price of apple is 10
The price of milk is 50
The price of orange is 60
The price of carrot is 30
The total bill is 150

In [11]:
# 2. Student Grade Calculator
average=0
student_name=input("Enter the name of the student : ")
total=0
subject_name_list=["PHYSICS","CHEMISTRY","MATHEMATICS","BOTANY","ZOOLOGY"]
for i in range(5):
  subject_name=subject_name_list[i]
  subject_marks=0
  subject_marks=float(input(f"Enter the marks of the {subject_name} : "))
  total+=subject_marks
  average=total/5
if average>=90:
  print(f"NAME : {student_name}, AVERAGE : {average}, Grade : A")
elif average>=70 and average<90:
  print(f"NAME : {student_name}, AVERAGE : {average}, Grade : B")
elif average>=50 and average<70:
  print(f"NAME : {student_name} ,AVERAGE : {average}, Grade : C")
else:
  print(f"NAME : {student_name}, AVERAGE : {average}, Grade : F")

Enter the name of the student : syam
Enter the marks of the PHYSICS : 91
Enter the marks of the CHEMISTRY : 92
Enter the marks of the MATHEMATICS : 93
Enter the marks of the BOTANY : 94
Enter the marks of the ZOOLOGY : 95
NAME : syam, AVERAGE : 93.0, Grade : A

In [12]:
# 3. A movie theatre wants to automate ticket booking for customers.
l1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(l1)
while ((len(l1))>0):
  seat_number=int(input("ENTER THE SEAT NUMBER TO BE BOOKED : "))
  if seat_number>20 or seat_number<1:
    print("ENTER A VALID SEAT NUMBER")
  else:
    print(f"{seat_number} is booked : ")
    l1.remove(seat_number)
    print(l1)
    seat_number=int(input("ENTER THE SEAT NUMBER TO BE BOOKED : "))
    print(f"{seat_number} is booked : ")
    l1.remove(seat_number)
    print(l1)
    if((len(l1))==0):
      print("ALL SEATS ARE BOOKED")
      break

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
ENTER THE SEAT NUMBER TO BE BOOKED : 20
20 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
ENTER THE SEAT NUMBER TO BE BOOKED : 19
19 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
ENTER THE SEAT NUMBER TO BE BOOKED : 18
18 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
ENTER THE SEAT NUMBER TO BE BOOKED : 17
17 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
ENTER THE SEAT NUMBER TO BE BOOKED : 16
16 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
ENTER THE SEAT NUMBER TO BE BOOKED : 15
15 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
ENTER THE SEAT NUMBER TO BE BOOKED : 14
14 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
ENTER THE SEAT NUMBER TO BE BOOKED : 13
13 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
ENTER THE SEAT NUMBER TO BE BOOKED : 12
12 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
ENTER THE SEAT NUMBER TO BE BOOKED : 11
11 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ENTER THE SEAT NUMBER TO BE BOOKED : 10
10 is booked :
[1, 2, 3, 4, 5, 6, 7, 8, 9]
ENTER THE SEAT NUMBER TO BE BOOKED : 9
9 is booked :
[1, 2, 3, 4, 5, 6, 7, 8]
ENTER THE SEAT NUMBER TO BE BOOKED : 8
8 is booked :
[1, 2, 3, 4, 5, 6, 7]
ENTER THE SEAT NUMBER TO BE BOOKED : 7
7 is booked :
[1, 2, 3, 4, 5, 6]
ENTER THE SEAT NUMBER TO BE BOOKED : 6
6 is booked :
[1, 2, 3, 4, 5]
ENTER THE SEAT NUMBER TO BE BOOKED : 5
5 is booked :
[1, 2, 3, 4]
ENTER THE SEAT NUMBER TO BE BOOKED : 4
4 is booked :
[1, 2, 3]
ENTER THE SEAT NUMBER TO BE BOOKED : 3
3 is booked :
[1, 2]
ENTER THE SEAT NUMBER TO BE BOOKED : 2
2 is booked :
[1]
ENTER THE SEAT NUMBER TO BE BOOKED : 1
1 is booked :
[]
ALL SEATS ARE BOOKED